@import 'tailwindcss';
/* @import 'tailwind-scrollbar'; Import the scrollbar plugin */

body {
    font-family: 'Open Sans', serif;
}

input[type='file'] {
    font-weight: normal;
}

input[type='file']::-webkit-file-upload-button {
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d1dbdc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
